<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container mt-5">
        <!-- Search form -->
        <form action="/search-product" method="GET">
            <div class="md-form m-5">
                <input class="form-control" type="text" placeholder="Search By Category.." aria-label="Search" name="search" />
                <input type="submit" value="search" />
            </div>
        </form>

        <button class="btn btn-danger">
        <a href="/products/add-product" class="text-white">Add Products</a>
      </button>
        <a href="/welcome" class="btn btn btn-success">Icon Here</a>
        <a href="/logout" class="btn btn-secondary logOUT">OUT</a>

        <div class="row">
            <%if(res) {%>
                <% res.forEach(function(docs) { %>
                    <a href="/products/<%=docs._id%>" class="card col-lg-3 col-md-3 col-sm-6 text-dark m-3">
                        <div class="text-black">
                            <img src="<%=docs.productImage%>" class=" card-img-top " alt="... " />
                            <div class="card-body ">
                                <h5 class="card-title ">
                                    Name =
                                    <%= docs.name %>
                                </h5>
                            </div>
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item ">
                                    Price =
                                    <%= docs.price %>
                                </li>
                                <li class="list-group-item ">
                                    description =
                                    <%= docs.description %>
                                </li>
                            </ul>
                            <div class="card-body ">
                                <!-- <button class="btn btn-success "> </button> -->
                            </div>
                        </div>
                    </a>

                    <% }); %>
                        <%} else {%>
                            <div class="jumbotron">
                                <h1 class="display-4">Hello, There!</h1>
                                <p class="lead">
                                    <%=errs%>
                                </p>
                                <hr class="my-4" />
                            </div>
                            <%}%>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>