<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
        <h1 class="cent">You Search For
            <%=search %>
        </h1>
        <%if(data) {%>
            <% data.forEach(function(docs) { %>
                <!-- --------------------- product page -------------------- -->

                <section class="product-page-container">
                    <div class="product-page-column">
                        <img class="product-page__image" src="<%=docs.productImage%>" alt="" srcset="" />
                    </div>
                    <div class="product-page-column">
                        <h1 class="product-page__title">Name =
                            <%= docs.name %>
                        </h1>
                        <h4 class="product-page__description">
                            Price =
                            <%= docs.price %>
                        </h4>
                        <h4 class="product-page__description">
                            Description =
                            <%= docs.description %>
                        </h4>
                        <h5 class="product-page-catogary">
                            Category =
                            <%= docs.Category %>
                        </h5>
                        <h5 class="product-page-product-posted">
                            Product Posted =
                            <%= formatDate%>
                        </h5>
                        <h5 class="product-page-last-update">Last Update =
                            <%= NOW%>
                        </h5>

                        <h5 class="product-page-last-update ">
                            <p>
                                <a href="/" class="text-white button__global button__global-trans">Back To Page</a
            >
          </p>
        </h5>
      </div>
    </section>
    <% }); %> <% } %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
      crossorigin="anonymous "
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
      crossorigin="anonymous "
    ></script>
  </body>
</html>